body {
    font-family: 'Noto Sans KR', sans-serif;
    /*background-color: #f4f4f4;*/
    background-color: #2c3e50;
    margin: 0; /* 기본 여백 제거 */
    display: flex; /* Flexbox를 사용하여 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: flex-start; /* 수직 상단 정렬 */
    height: 100vh; /* 전체 화면 높이 사용 */
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; /* 위쪽 여백 추가 */
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 150px; /* 높이 지정 */
}

.circle {
    position: relative; /* 자식 요소의 절대 위치 지정을 위해 relative 설정 */
    width: 100px; /* 원의 크기 설정 */
    height: 100px; /* 원의 크기 설정 */
    border-radius: 50%; /* 원 형태 */
    overflow: hidden; /* 원 안에 이미지만 보이게 함 */
    display: flex; /* flexbox로 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    transition: box-shadow 0.3s ease; /* 그림자 효과 전환 */
}

.circle img {
    width: 100%; /* 이미지가 원 안에 맞게 크기 조정 */
    height: auto; /* 비율 유지 */
}

.change-text {
    position: absolute;
    color: white; /* 글자 색상 */
    background-color: rgba(0, 0, 0, 0.7); /* 배경 색상 및 투명도 */
    padding: 5px 10px; /* 패딩 추가 */
    border-radius: 5px; /* 테두리 둥글게 */
    display: none; /* 처음에는 숨김 */
    font-size: 14px; /* 글자 크기 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.circle:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* 마우스를 올리면 그림자 추가 */
}

.circle:hover .change-text {
    display: block; /* 마우스를 올리면 보이게 */
}

#preview {
    width: 100%; /* 원형 크기에 맞춤 */
    height: 100%; /* 원형 크기에 맞춤 */
    object-fit: cover; /* 이미지 비율 유지 */
    display: none; /* 기본적으로 숨김 */
    border-radius: 50%; /* 원형 유지 */
    position: absolute;
    top: 0;
    left: 0;
}


.signup-link {
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.signup-link:hover {
    color: black; /* 호버 시 진한 회색으로 변경 */
}

button {
    background-color: #D5C9DD;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px; /* 버튼 간격 설정 */
}

button:hover {
    background-color: #666488; /* 호버 시 색상 변경 */
}




.spacing {
    margin-top: 20px; /* 한 칸 띄우기 */
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* 너비를 100%로 설정하여 부모 요소의 너비에 맞추기 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 전체 너비 계산 */
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* 너비를 100%로 설정하여 부모 요소의 너비에 맞추기 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 전체 너비 계산 */
}
