@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
    font-family: Arial, sans-serif;
    background-color: #5B8F90;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative; /* 자식 요소의 절대 위치에 맞추기 위해 상대 위치 설정 */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* 너비를 100%로 설정하여 부모 요소의 너비에 맞추기 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 전체 너비 계산 */
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* 너비를 100%로 설정하여 부모 요소의 너비에 맞추기 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 전체 너비 계산 */
}

.signup-link {
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.signup-link:hover {
    color: black; /* 호버 시 진한 회색으로 변경 */
}

/* CSS 수정 */

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 150px; /* 높이를 지정하여 원을 수직 가운데 배치 */
}

.circle {
    border-radius: 50%;
    background-color: #D5C9DD;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 이미지 입력폼에 호버 스타일 추가 */
.circle:hover {
    cursor: pointer; /* 마우스 포인터 변경 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 살짝 강조 효과 */
    background-color: #b3a4bd; /* 배경색 약간 변경 */
}

/* 호버 시 텍스트 색상 변경 */
.circle:hover span {
    color: #ece7f1; /* 밝은 색상으로 변경 */
}


.circle span {
    color: white;
    font-size: 24px;
    text-align: center;
}

/* 미리보기 이미지가 표시될 때의 스타일 */
#preview {
    width: 100%; /* 원형 크기에 맞춤 */
    height: 100%; /* 원형 크기에 맞춤 */
    object-fit: cover; /* 이미지 비율 유지 */
    display: none; /* 기본적으로 숨김 */
    border-radius: 50%; /* 원형 유지 */
}

#signupButton {
    background-color: #D5C9DD;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: not-allowed;
}
/* 버튼 활성화 스타일 */
#signupButton.active {
    background-color: #666488;
    cursor: pointer;
}

.back-button {
    position: absolute; /* 절대 위치 지정 */
    top: 20px; /* 상단에서 20px 떨어진 위치 */
    left: 20px; /* 왼쪽에서 20px 떨어진 위치 */
    background-color: transparent; /* 배경색 투명 */
    border: none; /* 테두리 없음 */
    color: #666488; /* 글자색 */
    font-size: 20px; /* 글자 크기 */
    cursor: pointer; /* 커서 포인터로 변경 */
}

.back-button:hover {
    color: #333; /* 호버 시 색상 변경 */
}


